@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k6fds6');
  src:  url('fonts/icomoon.eot?k6fds6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k6fds6') format('truetype'),
    url('fonts/icomoon.woff?k6fds6') format('woff'),
    url('fonts/icomoon.svg?k6fds6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-newspaper:before {
  content: "\e904";
}
.icon-book:before {
  content: "\e91f";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-drive:before {
  content: "\e963";
}
.icon-database:before {
  content: "\e964";
}
.icon-user:before {
  content: "\e971";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
