body{
    font-size: 20px;
    font-family: monospace;

        background-image: url(../image/2.jpg);
        background-position: center;
        background-attachment: fixed;
            background-size: cover;
    
    
}

#container{
    margin : 20px auto;
    background-color: rgb(161, 157, 157);
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:140px;
    height:100px;
    border : 2px solid rgb(161, 33, 33);
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:100px;
    color : black;
}
#start:hover{
    border: 3px solid white;
    color : white;
}

#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: rgb(78, 60, 179);
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}





.wel a{
    width: 5px;
    max-width: 60px;
    margin: auto;
    margin-top: 10px;
    background: rgba(0,0,0,0.6);

}



.wel a{
    display: block;
    margin-top: 5px;
    font-size: 2px;
    padding: 1px;
    border: 1px solid white;
}

.wel a:hover{
    color: black;
    background: white;
}



	
section{
    margin:20px ;
width: 15%;
height: 50px;

background: white;
float: left;
box-shadow: 0px 5px grey;
}













