* {
	padding:0;
	margin:0;
	
}
 
 
.menu_bar {
	display:none;
}
 
header {
	width: 100%;
}
 
header nav {
	background:#023859;
	z-index:1000;
	max-width: 1000px;
	width:95%;
	margin:20px auto ;
	text-align:center;

}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background: #5E5BA6;
}
 
header nav ul li a {
	color: white;
	display:block;
	text-decoration:none;
	padding: 20px;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}


	@media screen and (max-width: 800px) {
		body {
			padding-top:80px;
		}
	 
		.menu_bar {
			display:block;
			width:100%;
			position: fixed;
			top:0;
			background: #023859;
		}
	 
		.menu_bar .bt-menu {
			display: block;
			padding: 20px;
			color: #fff;
			overflow: hidden;
			font-size: 25px;
			font-weight: bold;
			text-decoration: none;
		}
	 
		.menu_bar span {
			float: right;
			font-size: 40px;
		}
	 
		header nav {
			width: 80%;
			height: calc(100% - 80px);
			position: fixed;
			right:100%;
			margin: 0;
			overflow: scroll;
		}
	 
		header nav ul li {
			display: block;
			border-bottom:1px solid rgba(255,255,255,.5);
		}
	 
		header nav ul li a {
			display: block;
		}
	 
		header nav ul li:hover .children {
			display: none;
		}
	 
		header nav ul li .children {
			width: 100%;
			position: relative;
		}
	 
		header nav ul li .children li a {
			margin-left:20px;
		}
	 
		header nav ul li .caret {
			float: right;
		}
	}


	
	
	
#contenedor {
	width: 95%;
	margin:auto;
	}
	

	
	section:nth-of-type(1){
		margin:20px ;
	width: 75%;
	height: 250px;
	
	background: white;
	float: left;
	box-shadow: 0px 5px grey;
	}
	section:nth-of-type(2){
		margin:20px ;
		clear: both;
		width: 75%;
		height: 185px;
		float: left;
		margin-top: 10px;
		background: white;
		box-shadow: 0px 5px grey;
		}
	
	
	
	aside:nth-of-type(1){
	height: 25%;
	background: none;
	text-align:center;
	margin-top: 25px;
	font-size: 50px;
	line-height: 50px;
	box-shadow: 0px 5px grey;
	}
	
	
	aside:nth-of-type(2){
		height: 25%;
		background: none;
		text-align:center;
		line-height: 100%;
		margin-top: 25px;
		box-shadow: 0px 10px grey;
		}
		
	
	footer {  
		margin:20px ;   
	clear: both;
	width: 85%;
	height: 60px;
	background:  #5E5BA6;
	text-align: center;
	color: white;
	margin-top: 1.5%;
	text-shadow: 9px 9px 5px black, 0 0 25px blue, 0 0 25px darkblue;
	font-style: italic;
	line-height: 30px;
	 }
	
	
	
	
	h2{
		text-align: center;
		line-height: 100px;
		font-family: 'Dancing Script', cursive;
		font-size: 30px;
		color: white;
		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;  
	}
	
	
	h3{
		line-height: 70px;
		font-family: 'Dancing Script', cursive;
		font-size: 30px;
		color: white;
		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;  